<form class="form-horizontal" id="add-doctor" style="padding: -10px">
	<fieldset>

	<!-- Form Name -->
	<legend>Add Doctors</legend>

	<!-- Text input-->
	<div class="field">
	  <label class="label" for="docname">Doctor's Name</label>
	  <div class="control">
	    <input id="docname" name="docname" type="text" placeholder="Doctor's Name" class="input " required="">
	    
	  </div>
	</div>

	<!-- Select Basic -->
	<div class="field">
	  <label class="label" for="titleselect">Doctor's Title</label>
	  <div class="control">
	  	<div class="select">
		    <select id="titleselect" name="titleselect">
		      <option>Option one</option>
		      <option>Option two</option>
		    </select>
		</div>
	  </div>
	</div>

	<!-- Multiple Radios (inline) -->
	<input class="slider is-fullwidth is-danger" step="1" min="0" max="100" value="50" type="range">


	<!-- Select Basic -->
	<div class="field">
	  <label class="label" for="docbranch">Branch Name</label>
	  <div class="control">
	  	<div class="select">
		    <select id="docbranch" name="docbranch" class="">
		      <option>Branch 1</option>
		      <option>Branch 2</option>
		      <option>Branch 3</option>
		    </select>
		</div>
	  </div>
	</div>

	</fieldset>
</form>
