<form class="form-horizontal" >
	<fieldset>

	<!-- Form Name -->
	<legend>Add Doctors</legend>

	<!-- Text input-->
	<div class="field">
	  <label class="label" for="docname">Doctor's Name</label>
	  <div class="control">
	    <input id="docname" name="docname" type="text" placeholder="Doctor's Name" class="input " required="">
	    
	  </div>
	</div>

	<!-- Select Basic -->
	<div class="field">
	  <label class="label" for="titleselect">Doctor's Title</label>
	  <div class="control">
	  	<div class="select">
		    <select id="titleselect" name="titleselect" class="is-small">
		      <option>Option one</option>
		      <option>Option two</option>
		    </select>
		</div>
	  </div>
	</div>

	<!-- Multiple Radios (inline) -->
	<div class="field">
	  <label class="label" for="">Experience Level</label>
	  <div class="control">
	    <label class="radio inline" for="xplevelradio-0">
	      <input type="radio" name="xplevelradio" id="xplevelradio-0" value="1" checked="checked" required="required">
	      1
	    </label>
	    <label class="radio inline" for="xplevelradio-1">
	      <input type="radio" name="xplevelradio" id="xplevelradio-1" value="2" required="required">
	      2
	    </label>
	    <label class="radio inline" for="xplevelradio-2">
	      <input type="radio" name="xplevelradio" id="xplevelradio-2" value="3" required="required">
	      3
	    </label>
	    <label class="radio inline" for="xplevelradio-3">
	      <input type="radio" name="xplevelradio" id="xplevelradio-3" value="4" required="required">
	      4
	    </label>
	    <label class="radio inline" for="xplevelradio-4">
	      <input type="radio" name="xplevelradio" id="xplevelradio-4" value="5" required="required">
	      5
	    </label>
	    <label class="radio inline" for="xplevelradio-5">
	      <input type="radio" name="xplevelradio" id="xplevelradio-5" value="6" required="required">
	      6
	    </label>
	    <label class="radio inline" for="xplevelradio-6">
	      <input type="radio" name="xplevelradio" id="xplevelradio-6" value="7" required="required">
	      7
	    </label>
	    <label class="radio inline" for="xplevelradio-7">
	      <input type="radio" name="xplevelradio" id="xplevelradio-7" value="8" required="required">
	      8
	    </label>
	    <label class="radio inline" for="xplevelradio-8">
	      <input type="radio" name="xplevelradio" id="xplevelradio-8" value="9" required="required">
	      9
	    </label>
	  </div>
	</div>

	<!-- Select Basic -->
	<div class="field">
	  <label class="label" for="docbranch">Branch Name</label>
	  <div class="control">
	  	<div class="select">
		    <select id="docbranch" name="docbranch" class="">
		      <option>Branch 1</option>
		      <option>Branch 2</option>
		      <option>Branch 3</option>
		    </select>
		</div>
	  </div>
	</div>

	</fieldset>
</form>
